@font-face {
  font-family: 'gotham';
  src: url('localhost/Pengumuman-LP/assets/fonts/gotham/GOTHAM-BLACK.TTF');
}


@font-face {
  font-family: 'caslon';
  src: url('localhost/Pengumuman-LP/assets/fonts/caslon/CaslonCP.otf');
}

.white-font {
  color: white;
}

.gotham-font {
  font-family: 'gotham';
}

.caslon-font {
  font-family: 'caslon';
}

nav {
  height: 55px;
}

#current-date {
  margin-top: 0.5rem;
}

#current-date, #current-time {
  font-size: 20px;
}

#logo-row {
  position: relative;
  height: 180px;
  resize: both;
}

#main-logo {
  height: 120px;
  width: auto;
  margin-top: 1rem;
}

#status-text {
  font-size: 30px;
}
/* Make it move */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -500em }
}

#event-name-box {
  margin-top: 10px;
  height: 80px;
  width: 450px;
  margin: 0 auto;
}

.marque-box {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 50s linear infinite;
}

#event-name {
  font-size: 40px;
  color: white;
  margin-top: 0.7rem;
}

#event-time {
  font-size: 30px;
  margin-top: 5px;
}

.passive-time {
  color: white;
}

#next-event-row {
  margin-top: 1rem;
}

#next-event-box-header {
  color: white;
  font-size: 20px;
}

#next-event-name, #next-event-time {
  font-size: 20px;
}

.next-event-marque-box {
  animation: marquee 100s linear infinite;
}

#footer {
  margin-top: 0.5rem;
}

